# 1. Scrapping Twitter Data

In [1]:
!pip install -q snscrape

In [2]:
import os
import pandas as pd
from datetime import date

In [25]:
os.system("snscrape --jsonl --progress --max-results 2000 --since 2018-01-01 twitter-hashtag 'sustainability until:2022-11-01' > sustainable-tweets2022.json")

Scraping, 100 results so far
Scraping, 200 results so far
Scraping, 300 results so far
Scraping, 400 results so far
Scraping, 500 results so far
Scraping, 600 results so far
Scraping, 700 results so far
Scraping, 800 results so far
Scraping, 900 results so far
Scraping, 1000 results so far
Scraping, 1100 results so far
Scraping, 1200 results so far
Scraping, 1300 results so far
Scraping, 1400 results so far
Scraping, 1500 results so far
Scraping, 1600 results so far
Scraping, 1700 results so far
Scraping, 1800 results so far
Scraping, 1900 results so far
Scraping, 2000 results so far
Stopped scraping after 2000 results due to --max-results

0

In [26]:
os.system("snscrape --jsonl --progress --max-results 2000 --since 2018-01-01 twitter-hashtag 'sustainability until:2021-11-01' > sustainable-tweets2021.json")

Scraping, 100 results so far
Scraping, 200 results so far
Scraping, 300 results so far
Scraping, 400 results so far
Scraping, 500 results so far
Scraping, 600 results so far
Scraping, 700 results so far
Scraping, 800 results so far
Scraping, 900 results so far
Scraping, 1000 results so far
Scraping, 1100 results so far
Scraping, 1200 results so far
Scraping, 1300 results so far
Scraping, 1400 results so far
Scraping, 1500 results so far
Scraping, 1600 results so far
Scraping, 1700 results so far
Scraping, 1800 results so far
Scraping, 1900 results so far
Scraping, 2000 results so far
Stopped scraping after 2000 results due to --max-results

0

In [27]:
os.system("snscrape --jsonl --progress --max-results 2000 --since 2018-01-01 twitter-hashtag 'sustainability until:2020-11-01' > sustainable-tweets2020.json")

Scraping, 100 results so far
Scraping, 200 results so far
Scraping, 300 results so far
Scraping, 400 results so far
Scraping, 500 results so far
Scraping, 600 results so far
Scraping, 700 results so far
Scraping, 800 results so far
Scraping, 900 results so far
Scraping, 1000 results so far
Scraping, 1100 results so far
Scraping, 1200 results so far
Scraping, 1300 results so far
Scraping, 1400 results so far
Scraping, 1500 results so far
Scraping, 1600 results so far
Scraping, 1700 results so far
Scraping, 1800 results so far
Scraping, 1900 results so far
Scraping, 2000 results so far
Stopped scraping after 2000 results due to --max-results

0

In [28]:
os.system("snscrape --jsonl --progress --max-results 2000 --since 2018-01-01 twitter-hashtag 'sustainability until:2019-11-01' > sustainable-tweets2019.json")

Scraping, 100 results so far
Scraping, 200 results so far
Scraping, 300 results so far
Scraping, 400 results so far
Scraping, 500 results so far
Scraping, 600 results so far
Scraping, 700 results so far
Scraping, 800 results so far
Scraping, 900 results so far
Scraping, 1000 results so far
Scraping, 1100 results so far
Scraping, 1200 results so far
Scraping, 1300 results so far
Scraping, 1400 results so far
Scraping, 1500 results so far
Scraping, 1600 results so far
Scraping, 1700 results so far
Scraping, 1800 results so far
Scraping, 1900 results so far
Scraping, 2000 results so far
Stopped scraping after 2000 results due to --max-results

0

In [29]:
os.system("snscrape --jsonl --progress --max-results 2000 --since 2018-01-01 twitter-hashtag 'sustainability until:2018-11-01' > sustainable-tweets2018.json")

Scraping, 100 results so far
Scraping, 200 results so far
Scraping, 300 results so far
Scraping, 400 results so far
Scraping, 500 results so far
Scraping, 600 results so far
Scraping, 700 results so far
Scraping, 800 results so far
Scraping, 900 results so far
Scraping, 1000 results so far
Scraping, 1100 results so far
Scraping, 1200 results so far
Scraping, 1300 results so far
Scraping, 1400 results so far
Scraping, 1500 results so far
Scraping, 1600 results so far
Scraping, 1700 results so far
Scraping, 1800 results so far
Scraping, 1900 results so far
Scraping, 2000 results so far
Stopped scraping after 2000 results due to --max-results

0

In [30]:
# Reads the json generated from the CLI commands above and creates a pandas dataframe
tweets_df2022 = pd.read_json('sustainable-tweets2022.json', lines=True)

In [31]:
tweets_df2021 = pd.read_json('sustainable-tweets2021.json', lines=True)

In [32]:
tweets_df2020 = pd.read_json('sustainable-tweets2020.json', lines=True)

In [33]:
tweets_df2019 = pd.read_json('sustainable-tweets2019.json', lines=True)

In [34]:
tweets_df2018 = pd.read_json('sustainable-tweets2018.json', lines=True)

In [ ]:
# Saving all the dataframes

In [35]:
tweets_df2022.to_csv('sustainability_tweets2022.csv')

In [36]:
tweets_df2021.to_csv('sustainability_tweets2021.csv')

In [37]:
tweets_df2020.to_csv('sustainability_tweets2020.csv')

In [38]:
tweets_df2019.to_csv('sustainability_tweets2019.csv')

In [39]:
tweets_df2018.to_csv('sustainability_tweets2018.csv')

In [ ]:
# Merging all the dataframes

In [40]:
df = pd.concat(map(pd.read_csv, ['sustainability_tweets2022.csv', 'sustainability_tweets2021.csv', 'sustainability_tweets2020.csv', 'sustainability_tweets2019.csv', 'sustainability_tweets2018.csv' ]), ignore_index=True)

      Unnamed: 0                           _type  \
0              0  snscrape.modules.twitter.Tweet
1              1  snscrape.modules.twitter.Tweet
2              2  snscrape.modules.twitter.Tweet
3              3  snscrape.modules.twitter.Tweet
4              4  snscrape.modules.twitter.Tweet
...          ...                             ...
9995        1995  snscrape.modules.twitter.Tweet
9996        1996  snscrape.modules.twitter.Tweet
9997        1997  snscrape.modules.twitter.Tweet
9998        1998  snscrape.modules.twitter.Tweet
9999        1999  snscrape.modules.twitter.Tweet

                                                    url  \
0     https://twitter.com/natasham4/status/158723225...
1     https://twitter.com/all_ecofriendly/status/158...
2     https://twitter.com/baxterkb/status/1587229272...
3     https://twitter.com/SvenVanZanten01/status/158...
4     https://twitter.com/Ing_Martin_V/status/158722...
...                                                 ...
9995  https://twitter.com/BethanyHarbour/status/1057...
9996  https://twitter.com/NirajMistry9/status/105737...
9997  https://twitter.com/enufCanada/status/10573786...
9998  https://twitter.com/ckohtala/status/1057378589...
9999  https://twitter.com/GM/status/1057378495670689793

                           date  \
0     2022-10-31 23:57:14+00:00
1     2022-10-31 23:56:28+00:00
2     2022-10-31 23:45:22+00:00
3     2022-10-31 23:45:02+00:00
4     2022-10-31 23:44:37+00:00
...                         ...
9995  2018-10-30 21:10:07+00:00
9996  2018-10-30 21:09:25+00:00
9997  2018-10-30 21:08:04+00:00
9998  2018-10-30 21:07:55+00:00
9999  2018-10-30 21:07:33+00:00

                                                content  \
0     Renewable Natural Gas is integral to UPS‚Äôs str...
1     ü§î ü§îü§î Curious about eco-friendly products?  üåøüêºüêæ...
2     Most data center operators aren‚Äôt tracking key...
3     Sven van Zanten Shares.\n\n#svenvanzanten #sol...
4     Recycling key to solar sustainability https://...
...                                                 ...
9995  Small changes to your daily routine can make a...
9996  I keep an eye out on the demand for BIM in ten...
9997  Applicable everywhere; any university; any ins...
9998  LeNS World Distributed Conference: Designing #...
9999  Our Arlington Assembly Plant has earned a spot...

                                        renderedContent                   id  \
0     Renewable Natural Gas is integral to UPS‚Äôs str...  1587232258800467973
1     ü§î ü§îü§î Curious about eco-friendly products?  üåøüêºüêæ...  1587232064507715585
2     Most data center operators aren‚Äôt tracking key...  1587229272179355648
3     Sven van Zanten Shares.\n\n#svenvanzanten #sol...  1587229190641913857
4     Recycling key to solar sustainability pv-magaz...  1587229083133517826
...                                                 ...                  ...
9995  Small changes to your daily routine can make a...  1057379144063954945
9996  I keep an eye out on the demand for BIM in ten...  1057378966464532480
9997  Applicable everywhere; any university; any ins...  1057378626700750858
9998  LeNS World Distributed Conference: Designing #...  1057378589518245888
9999  Our Arlington Assembly Plant has earned a spot...  1057378495670689793

                                                   user  replyCount  \
0     {'_type': 'snscrape.modules.twitter.User', 'us...           0
1     {'_type': 'snscrape.modules.twitter.User', 'us...           1
2     {'_type': 'snscrape.modules.twitter.User', 'us...           0
3     {'_type': 'snscrape.modules.twitter.User', 'us...           0
4     {'_type': 'snscrape.modules.twitter.User', 'us...           0
...                                                 ...         ...
9995  {'_type': 'snscrape.modules.twitter.User', 'us...           1
9996  {'_type': 'snscrape.modules.twitter.User', 'us...           0
9997  {'_type': 'snscrape.modules.twitter.User', 'us...           0
9998  {'_type': 'snscrape.modules.twitter.User', 'us...           1
9999  {'_type': 'snscrape.modules.twitter.User', 'us...           2

      retweetCount  ...                                              media  \
0                0  ...  [{'_type': 'snscrape.modules.twitter.Photo', '...
1                1  ...  [{'_type': 'snscrape.modules.twitter.Photo', '...
2                0  ...                                                NaN
3                0  ...                                                NaN
4                1  ...                                                NaN
...            ...  ...                                                ...
9995             0  ...                                                NaN
9996             0  ...                                                NaN
9997             3  ...                                                NaN
9998             1  ...                                                NaN
9999            14  ...                                                NaN

      retweetedTweet                                        quotedTweet  \
0                NaN                                                NaN
1                NaN                                                NaN
2                NaN                                                NaN
3                NaN  {'_type': 'snscrape.modules.twitter.Tweet', 'u...
4                NaN                                                NaN
...              ...                                                ...
9995             NaN                                                NaN
9996             NaN  {'_type': 'snscrape.modules.twitter.Tweet', 'u...
9997             NaN  {'_type': 'snscrape.modules.twitter.Tweet', 'u...
9998             NaN                                                NaN
9999             NaN                                                NaN

     inReplyToTweetId inReplyToUser  \
0                 NaN           NaN
1                 NaN           NaN
2                 NaN           NaN
3                 NaN           NaN
4                 NaN           NaN
...               ...           ...
9995              NaN           NaN
9996              NaN           NaN
9997              NaN           NaN
9998              NaN           NaN
9999              NaN           NaN

                                         mentionedUsers coordinates place  \
0                                                   NaN         NaN   NaN
1                                                   NaN         NaN   NaN
2                                                   NaN         NaN   NaN
3                                                   NaN         NaN   NaN
4     [{'_type': 'snscrape.modules.twitter.User', 'u...         NaN   NaN
...                                                 ...         ...   ...
9995                                                NaN         NaN   NaN
9996                                                NaN         NaN   NaN
9997                                                NaN         NaN   NaN
9998                                                NaN         NaN   NaN
9999  [{'_type': 'snscrape.modules.twitter.User', 'u...         NaN   NaN

                                               hashtags cashtags
0                           ['sustainability', 'susty']      NaN
1     ['plasticfree', 'savetheplanet', 'sustainabili...      NaN
2                   ['sustainability', 'ClimateCrisis']      NaN
3     ['svenvanzanten', 'solar', 'renewables', 'clim...      NaN
4     ['Energy', 'GreenTech', 'CleanEnergy', 'Energy...      NaN
...                                                 ...      ...
9995  ['sustainability', 'sustainableliving', 'sayno...      NaN
9996              ['buildingcontrol', 'Sustainability']      NaN
9997  ['sustainability', 'LetsGoMontreal', 'NextGenL...      NaN
9998  ['Sustainability', 'India', 'Bangalore', 'desi...      NaN
9999                                 ['Sustainability']      NaN

[10000 rows x 29 columns]

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 29 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        10000 non-null  int64
 1   _type             10000 non-null  object
 2   url               10000 non-null  object
 3   date              10000 non-null  object
 4   content           10000 non-null  object
 5   renderedContent   10000 non-null  object
 6   id                10000 non-null  int64
 7   user              10000 non-null  object
 8   replyCount        10000 non-null  int64
 9   retweetCount      10000 non-null  int64
 10  likeCount         10000 non-null  int64
 11  quoteCount        10000 non-null  int64
 12  conversationId    10000 non-null  int64
 13  lang              10000 non-null  object
 14  source            10000 non-null  object
 15  sourceUrl         10000 non-null  object
 16  sourceLabel       10000 non-null  object
 17  outlinks          7153 non-null   object
 18  tcooutlinks       7153 non-null   object
 19  media             4749 non-null   object
 20  retweetedTweet    0 non-null      float64
 21  quotedTweet       869 non-null    object
 22  inReplyToTweetId  592 non-null    float64
 23  inReplyToUser     592 non-null    object
 24  mentionedUsers    3800 non-null   object
 25  coordinates       336 non-null    object
 26  place             336 non-null    object
 27  hashtags          9999 non-null   object
 28  cashtags          69 non-null     object
dtypes: float64(2), int64(7), object(20)
memory usage: 2.2+ MB

In [ ]:
# Exporting the final dataframe with tweets from 2018 to 2022

In [43]:
df.to_csv('final_sustainability_tweets.csv')